# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Cache
.cache/
.pytest_cache/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Output
output.txt
null
head
perfeye_*.json
